<section>
  <div>  
    <% console.log('From the front end, book in detail is: ',book); %>
    <img src="<%= book.image_url %>" alt="picture of book cover" title="picture of book cover">
  </div>
  <h2><%= book.title %></h2>
  <h3><%= book.author %></h3>
  <p><%= book.description %></p>
  <h5><%= book.isbn %></h5>
</section>